<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name =" viewport " content =" width =device -width , initial -scale =1.0">
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connection</title>
        <style>
            .bod{text.align:center

            }
        </style>


    </head>
    <body >
        <h1 class='bod' > Connection</h1>
        <div >
            <div class="form-group">
                <form action ="" method="get">
                    <p>Identifiant <input type ="text" name=" addresse mail"></p>
                    <p>Mot de Passe <input type ="text" name="Mot de passe" ></p>
                    <p><input type ="Submit" name="Se connecter" > <a href="# inscription" > S'inscrire</a> </p>
                </form>
                <p><a href="# motdepasseoublié">mot de passe</a>ou <a href="identifiantoublié"> identifiant </a> oublié </p>
    
    
            </div>
        </div>
    </body>
</html>